
    * {
      margin: 0;
      padding: 0;
    }
      
    .box {
      width: 100%;
       height:auto;
     
    
    }
	.img{
		width: 8.5rem;
		height: 7.625rem;
		margin: 0 auto;
		margin-top:6.25rem;
	}
	.img  img{
		width: 100%;
		object-fit: fill;
	}